<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <tr>
        <th></th>
        <th>ID</th>
        <th>商品名</th>
        <th>価格</th>
        <th>お客様名</th>
      </tr>
      <% orders.each do |order| %>
        <tr>
          <td><a href="/orders/<%= order[:id] %>">詳細画面へ</a></td>
          <td><%= order[:id] %></td>
          <td><%= order[:product] %></td>
          <td><%= order[:price] %>円</td>
          <td><%= order[:username] %> 様</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
